@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
  padding: 0 !important;
}

.section__voiting {
  position: relative;
  padding: 164px 0 200px 0;
  background: #0F0F0F;
  overflow: hidden;
}


.section__voiting .background-graffity {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.05;
  z-index: 0;
}

.section__voiting .circle-blur {
  width: 852px;
  height: 852px;
  border-radius: 50%;
  background: linear-gradient(151deg, rgba(0,136,145,1) 0%, rgba(42,215,121,1) 100%); 
  opacity: 0.1;
  -webkit-filter: blur(90px);
	filter: blur(90px);
}

.section__voiting .circle-blur_left {
  position: absolute;
  top: 50%;
  left: -500px;
  transform: translateY(-50%);
}

.section__voiting .circle-blur_right {
  position: absolute;
  top: 50%;
  right: -500px;
  transform: translateY(-50%);
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting {
    padding: 140px 0 140px 0;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting {
    padding: 100px 0 100px 0;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting {
    padding: 80px 0 80px 0;
  }
}

@media (max-width: 479px) {
  .section__voiting {
    padding: 80px 0 80px 0;
  }
}

.section__voiting .voiting__category:not(:last-child) {
  margin-bottom: 130px;
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting .voiting__category:not(:last-child) {
    margin-bottom: 110px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting .voiting__category:not(:last-child) {
    margin-bottom: 100px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting .voiting__category:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 479px) {
  .section__voiting .voiting__category:first-child {
    margin-bottom: 80px;
  }
}

._container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  /* z-index: 2; */
}

@media (min-width: 960px) and (max-width: 1199px) {
  ._container {
    max-width: 940px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  ._container {
    max-width: 620px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  ._container {
    max-width: 460px;
  }
}

@media (max-width: 479px) {
  ._container {
    max-width: 300px;
  }
}

.section__voiting .voiting__category-title {
  font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 25px;
}

.section__voiting .voiting__category-data {
  font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  
  margin-bottom: 10px;
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting .voiting__category-title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting .voiting__category-title {
    font-size: 26px;
    line-height: 26px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting .voiting__category-title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 479px) {
  .section__voiting .voiting__category-title {
    font-size: 16px;
    line-height: 16px;
  }
}

.section__voiting .voiting__cards-participants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section__voiting .voiting__cards-participants .card-participant {
  width: 560px;
  height: auto;
  background: rgba(149, 149, 149, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting .voiting__cards-participants .card-participant {
    width: 465px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting .voiting__cards-participants .card-participant {
    width: 305px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting .voiting__cards-participants .card-participant {
    width: 225px;
  }
}

@media (max-width: 479px) {
  .section__voiting .voiting__cards-participants .card-participant {
    width: 100%;
    margin-bottom: 10px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .card-participant__video {
  position: relative;
  width: 100%;
  height: 315px;
  overflow: hidden;
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video {
    height: 262px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video {
    height: 172px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video {
    height: 127px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video {
    height: 169px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .card-participant__video
  iframe {
  width: 100%;
  height: 100%;
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .card-participant__video
  .video__play-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

@media (min-width: 960px) and (max-width: 1199px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn {
    width: 32px;
    height: 32px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .card-participant__video
  .video__play-btn
  img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn
    img {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn
    img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .card-participant__video
    .video__play-btn
    img {
    width: 35px;
    height: 35px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info {
  padding: 20px;

  color: #ffffff;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info {
    padding: 15px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info {
    padding: 10px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info {
    padding: 10px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__country {
  font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;

  color: #a8a8a8;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__country {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__country {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__country {
    font-size: 10px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__name {
  font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;

  margin-bottom: 28px;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__name {
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__name {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__name {
    font-size: 12px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.15;
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting
  .votes {
  display: flex;
  flex-direction: column;
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting
  .votes
  .votes__number {
    font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__number {
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__number {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__number {
    font-size: 16px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting
  .votes
  .votes__text {
  font-family: 'FuturaNew',Arial,sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 400;

  color: #a8a8a8;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__text {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__text {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .votes
    .votes__text {
    font-size: 14px;
  }
}

.section__voiting
  .voiting__cards-participants
  .card-participant
  .participant__info
  .participant__info__voiting
  .btn-voiting {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 800;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  max-height: 40px;
  max-width: 163px;

  padding: 15px 57px;

  background: linear-gradient(90deg, #008891 0%, #2ad779 100%);
  border-radius: 4px;
}

@media (min-width: 640px) and (max-width: 959px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .btn-voiting {
    max-height: 40px;
    max-width: 122px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .btn-voiting {
    max-height: 35px;
    max-width: 81px;

    padding: 10px 25px;
  }
}

@media (max-width: 479px) {
  .section__voiting
    .voiting__cards-participants
    .card-participant
    .participant__info
    .participant__info__voiting
    .btn-voiting {
    max-height: 35px;
    max-width: 81px;

    padding: 10px 25px;
  }
}

.DialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 800ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: #0f0f0f;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  padding: 45px 30px 30px 30px;
  text-align: center;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media (min-width: 480px) and (max-width: 639px) {
  .DialogContent {
    width: 300px;
    padding: 35px 30px 30px 30px;
  }
}

@media (max-width: 479px) {
  .DialogContent {
    width: 300px;
    padding: 30px 20px 20px 20px;
  }
}

@media (max-width: 320px) {
  .DialogContent {
    width: 300px;
    padding: 30px 0px;
  }
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  font-family: "FuturaNew", Arial, sans-serif;
  margin: 0;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
@media (min-width: 480px) and (max-width: 639px) {
  .DialogTitle {
    font-size: 26px;
    line-height: 26px;
  }
}
@media (max-width: 479px) {
  .DialogTitle {
    font-size: 22px;
    line-height: 22px;
  }
}

.DialogDescription {
  font-family: "FuturaNew", Arial, sans-serif;
  font-weight: 500;
  margin: 10px 0 20px;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
}
@media (min-width: 480px) and (max-width: 639px) {
  .DialogDescription {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .DialogDescription {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.Button {
  font-family: "FuturaNew", Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff !important;
  background: linear-gradient(90deg, #008891 0%, #2ad779 100%);
  border-radius: 4px;
  padding: 15px 20px;
  min-width: 150px;
  cursor: pointer;
  border: none !important;
}
@media (min-width: 480px) and (max-width: 639px) {
  .Button {
    font-size: 10px;
    padding: 10px 0px;
  }
}
@media (max-width: 479px) {
  .Button {
    font-size: 10px;
    padding: 10px 0px;
  }
}

.IconButton {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: url("https://static.tildacdn.com/tild6232-3464-4235-b336-616564616331/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
}

@media (max-width: 479px) {
  .IconButton {
    width: 15px;
    height: 15px;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
